.admin-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  overflow: hidden;
}

/* Ocultar barras de desplazamiento en el contenido */
.content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
